/* / cancellation request modal... / */

.cancel_request_modal .modal_request_header h5{
    line-height: 34px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .01em;
}

.cancel_request_modal .modal_request_header p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 24px;
}

/* / radio property / */

.cancel_request_modal  .radio-item [type="radio"]{
        display: none;
}

.cancel_request_modal .radio-item + .radio-item{
    margin-top: 15px;
}

.cancel_request_modal .radio-item label {
    display: block;
    padding: 13px 12px 13px 12px;
    background-color: #ffff;
    border: 1px solid #E7EAF0;
    width: 100%;
    border-radius: 6px;
    white-space: nowrap;
    position: relative;
    color: #29333D;
}

.cancel_request_modal .radio-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .01em;
    margin: 0px;
    margin-inline-start: 32px;
}

.cancel_request_modal .radio-item label:hover{
    background-color: #f5f5f5e2 !important;
}

.cancel_request_modal .radio-item label:after ,
.cancel_request_modal .radio-item label:before{
    content: '';
    position: absolute;
    border-radius: 50%;

}

.cancel_request_modal .radio-item label:after{
    height: 16.5px;
    width: 16.5px;
    border: 2px solid #94A2B2;
    left: 20px;
    top: calc(50% - 9px);
}

.cancel_request_modal .radio-item label:before{
    height: 10px;
    width: 10px;
    left: 23.49px;
    top: 39%;
    background-color: #D32D2F;
    transform: scale(2);
    visibility: hidden;
    opacity: 0;

}

.cancel_request_modal .radio-item [type="radio"]:checked ~ label:after{
    border-color: #D32D2F ;
}

.cancel_request_modal .radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* / submit button property / */

.cancel_request_modal .modal_request_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancel_request_modal .modal_request_button .request_submit_btn{
    padding: 8px 35px 8px 35px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #D32D2F;
    color: #ffff;
    border: 1px solid #D32D2F;
}