.dsr_section .p-datatable .p-datatable-thead > tr > th {
  background-color: #f8fafc !important;
}
/* .dsr_section {
  overflow: auto;
} */
.p-datatable-wrapper::-webkit-scrollbar {
  height: 10px !important;
}
.dsr_section .p-column-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #181e25;
}
.dsr_section .p-menu-list {
  padding: 0px !important;
  margin: 0 !important;
  max-height: 380px;
  overflow: auto;
}
.dsr_section .p-menu-list > li:nth-child(odd) {
  padding: 10px !important;
  background-color: #fbfbfb;
}
.dsr_section .p-menu-list > li:nth-child(3) {
  max-height: 150px !important;
  overflow: auto !important;
  padding: 0px 10px !important;
}
.dsr_section .p-menu-list a {
  padding: 15px !important;
  text-decoration: none;
  background-color: #fbfbfb;
}
.dsr_section .css-agnjr6 {
  margin-left: 1px !important;
}

.dsr_section
  .css-lipzh7-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: rgb(0, 0, 0) !important;
}
/* .dsr_section
  .css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: red !important;
} */
.dsr_section
  .css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  opacity: unset !important;
}
.dsr_section .gTutIr .MuiSwitch-thumb {
  color: white !important;
}

/* .dsr_section .p-checkbox.p-highlight .p-checkbox-box:hover {
  border-color: rgb(136, 0, 255);
  background-color: rgb(81, 0, 255);
} */

.scroll-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-content {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.scroll-content::-webkit-scrollbar {
    display: none;
  }

.arrow {
  cursor: pointer;
  user-select: none;
  /* padding: 10px; */
  font-size: 13px;
  margin: 0px 3px;
  visibility: hidden; /* Hide by default */
  color: #000; 
}

.arrow.show {
  visibility: visible; /* Show when needed */
}
/* .css-m9glnp-MuiPaper-root-MuiDialog-paper{
  background-color: unset !important;
} */
.css-1hyl1h2{
  background-color: unset !important;
}