/* This is for table Overwrite Styling for ant design */

.profile_table_section .ant-card-contain-tabs >.ant-card-head {
    position: relative !important;
}
.profile_table_section  .ant-card-head{
    background: #F8FAFC !important;
    padding: 0px 10px;
}
 .profile_table_section  .ant-card-body{
    padding: 20px 26px;
}
.profile_table_section .ant-tabs .ant-tabs-tab-btn{
    letter-spacing: .01em !important;
}
 .profile_table_section  .ant-card-head .ant-tabs-ink-bar{
    background-color: #0DA3DE !important;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
}
/* .profile_table_section  .ant-card-body>div{
    max-height: 950px !important;
} */
.profile_table_section  .ant-card-body .ant-tabs-nav-list{
    padding-top: 20px ;
}
.profile_table_section  .ant-card-body .ant-tabs-nav{
    height: 500px;
}
.profile_table_section  .ant-card-body .ant-tabs-tab{
    height: 46.1px; 
    width: 252px;
    margin-bottom: 20px !important;
}
.profile_table_section .ant-card-body .ant-tabs-tab-active{
    background: #FFF3ED;
    border-radius: 4px 0px 0px 4px;
}

.profile_table_section .ant-card-body .ant-tabs-tab-btn span:nth-child(2){
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .01em;
    color: #181E25;
}
.ant-input-affix-wrapper-lg{
    padding: 12px !important;
}
.profile_table_section .ant-card-body .ant-tabs-tabpane{
    padding: 20px 0px 20px 20px !important;
}
.profile_table_section .ant-card-body>div::-webkit-scrollbar{
    /* display: none !important; */
    max-height: 8px !important;
    max-width: 10px !important;
}
.profile_table_section .ant-tabs{
    width: 100%;
 } 