.ship_section .ant-card-body{
    padding: 0px !important;
}
.ship_section .reference_row{
    height: 39px;
    margin:0px -2px 20px -2px; 
    background-color: #F3F5F7 !important;
    border-radius: 8px;
}
.ship_section .reference_row>div{
    display: flex;
    align-items: center;
    justify-content: start;
}
.ship_section .reference_row>div>h6:nth-child(1){
    color: #495A6E;
    white-space: nowrap;
}
.ship_section .reference_row>div>h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    white-space: nowrap;
}

.ship_section .customer_reference{
    width:100%;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #f0f0f0;
}


/* destination_row */
.ship_section .destination_row .flag_img{
    width: 18px;
    height: 14px;
}
.ship_section{
    margin-bottom: 20px;
}
.ship_section .destination_row{
    display: flex;
    flex-wrap: wrap !important;
}
.ship_section .destination_row p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .01em !important;
    text-align: center;
    color: #181E25 !important;
    
}
.ship_section .destination_row .left_column{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    height: 32px;
    margin-bottom: 20px;
}
.ship_section .destination_row .left_column>*{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ship_section .destination_row .estimate_box>p:nth-child(2){
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing:.01em !important;
    color: #495A6E;
    white-space: nowrap !important;

}

.ship_section .right_column{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 32px;
    margin-bottom: 20px;
}

/* .ship_section .destination_row .bookedButton{
    text-decoration: none;
    border: 1px solid #008000;
    background-color: #0080001A;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    color: black;
    height: 30px;
} */
.ship_section .destination_row .bookedButton span{
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing:.01em !important;
    color: #384656;
    border: 1px solid #008000;
    background-color: #0080001A;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    height: 19px;


}
.ship_section .destination_row .menu_icon img{
    text-decoration: none;
    background-color: #F2F4F8;
    height: 32px;
    width: 32px;
    padding: 9px;
    border-radius: 4px;
    color: black;
}



/* booking_row */
.ship_section .booking_row{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.ship_section .booking_row>div{
    height: 100%;
}

.ship_section .booking_row>div p{
    white-space: nowrap;
}

.ship_section .booking_row>div>p:nth-child(1){
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing:.01em !important;
    color: #495A6E;
    margin-bottom: 4px;

}
.ship_section .booking_row>div>p:nth-child(2){
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing:.01em !important;
    color: #384656;
    ;

}

/* booking_status_row */
.ship_section .booking_status_row{
    background-color: #F3F5F7;
    border-radius: 8px;
    padding: 20px 0px 20px 0px;
    height: 117px;
    margin-bottom: 20px;
    overflow: hidden;
}
.ship_section .table-responsive{
    scroll-behavior: smooth;
}
.ship_section .table-responsive::-webkit-scrollbar{
    display: none;
}
.ship_section .dragging{
    scroll-behavior: auto;
    cursor: grab;
}
.ship_section .table-responsive .dragging .tab{
    user-select: none;
}
/* for arrow Styling */

.ship_section .table-responsive .arrow_icon{
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}
.ship_section .table-responsive .arrow_icon:first-child{
    left: 0;
    background:linear-gradient(90deg,#F3F5F7 70%,transparent);
    justify-content: start;
}
.ship_section .table-responsive .arrow_icon:last-child{
    right: 0;
    background:linear-gradient(-90deg,#F3F5F7 70%,transparent);
    justify-content: end;
}
.ship_section .table-responsive .arrow_icon:first-child svg{
    width: 100%;
}
.ship_section .table-responsive .arrow_icon:last-child svg{
    width: 100%;
}

/* estimate_row */
.ship_section .estimated_row .estimated_header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 39px;
}
.ship_section .estimated_row .estimated_header>:nth-child(2){
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #495A6E !important;
    padding: 10px 5px !important;
}
.ship_section .estimated_row .estimated_header>:nth-child(3){
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #495A6E;
    padding: 20px;
}
.ship_section .estimated_row .estimated_header p span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color:#384656;

}
.ship_section .estimated_row .estimated_body p{
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #384656;
    margin-left: 5px !important;

}

/* for_line_style */
.ship_section .booking_status_column ul:before{
    color: #ddd;
    bottom: 0;
    content: "";
    left: 8px;
    position: absolute;
    top: 8px;
    left: 10px;
    width: 2px;
    border-left-style: dashed;
}
.ship_section .before_circle{
    background-color: #198038;
    ;
    background-image: url(../../../assets/Tick.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.ship_section .before_circle_list{
    background: #fff;
    height: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45px;
    left: -31px;
    width: 10px;
}

/* @media screen and (max-width:400px) {
    .ship_section .mob_response{
        max-width: 300px !important;
        padding: 0 !important;
    }
    .ship_section #mobile_margin{
        margin-left: 0 !important;
        margin-right: 0 !important;
        min-width: 1290px !important;
    }
}

@media screen and (min-width:1543px) {
    .ship_section #mobile_margin{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .ship_section .mob_response{
        max-width: 2560px !important;
    }
} */