@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

.shipment_details_section{
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: start;
    min-width: 1440px;
    overflow: auto;
    width: 100%;
}

.shipment_details_section .black_box{
    background-color: #181E25 !important;
    border-bottom: 1px solid #E7EAF0;
    gap: 20px;
    width:100%;
    height: 217px;
    position: absolute;
    top: 0px;
}
.shipment_details_section .shipment_container{
    z-index: 10;
    padding: 0px 110px;
    width: 100%;
}
.shipment_details_section .shipment_ID_row .shipment_ID p{
    font-family: Lato;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: -2%;
    color: #FFFFFF;

}

/* .css-ypiqx9-MuiDialogContent-root::-webkit-scrollbar{
    width:10px !important
  }
.css-ypiqx9-MuiDialogContent-root::-webkit-scrollbar-thumb {
    background: rgb(220, 220, 220) !important; 
    border-radius: 10px !important;
    max-height: 5px !important;
  }
  
.css-ypiqx9-MuiDialogContent-root::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important; 
  } */

/* .shipment_details_section .breadCrumb ol li:nth-child(1){
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing:.01em !important;
    color: #ACB8C4 !important;
} */
.shipment_details_section .breadCrumb ol li:nth-child(3){
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing:.01em !important;
    color: #ACB8C4 !important;
}
.shipment_details_section .breadCrumb ol li:nth-child(5){
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing:.01em !important;
    color: #FFFFFF !important;
}
.shipment_details_section .breadCrumb ol li:nth-child(2){
    color: #ACB8C4 !important;
}
.shipment_details_section .breadCrumb ol li:nth-child(4){
    /* font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing:.01em !important; */
    color: #ACB8C4 !important;
}
.shipment_details_section .breadCrumb p{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing:.01em !important;
    color: #FFFFFF;
    margin-right: 13px !important;
}

/* shipment_header */
.shipment_details_section .shipment_header{
    padding: 0px 12px 12px 12px;
}

@media screen and (max-width:366px) {
    .shipment_details_section{
        min-width: 1443px !important;
    }
}
@media screen and (max-width:355px) {
    .shipment_details_section{
        min-width: 1403px !important;
    }
}
@media screen and (max-width:347px) {
    .shipment_details_section{
        min-width: 1363px !important;
    }
}
@media screen and (max-width:332px) {
    .shipment_details_section{
        min-width: 1330px !important;
    }
}
@media screen and (max-width:325px) {
    .shipment_details_section{
        min-width: 1285px !important;
    }
}

/* This is for an close icon */
.css-cyxlny-MuiPaper-root-MuiDialog-paper{
    overflow-y: unset !important;
}
 .css-hlpgzn .MuiDialog-paper{ /*.css-bt38sg-MuiModal-root-MuiDialog-root .MuiDialog-paper*/
    overflow-y: auto !important;
}

/* edit_profile_modal_section */
#vessel_modal_section .css-ypiqx9-MuiDialogContent-root{
    padding:0px !important;
}
#vessel_modal_section .ant-card .ant-card-body{
    padding: 0px !important;
}
