.prrofile_section .header_manage_account {
    width: 179px;
    margin-bottom: 20px;
}

/* mangae account property */

.profile_section .header_manage_account p:nth-child(1){
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .01em;
    color: #181E25;
    margin-bottom: 6px !important;
}

.profile_section .header_manage_account p:nth-child(2){
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color:#384656;
    width: 15%;
}

.profile_section .header_manage_account .plus_icon{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    position: absolute;
    left: 0px;
    bottom: 30px;
    right: 0px;
}

.profile_section .header_branch_address .icon_address img{
    color: red !important;

}
/* branch address property */

.profile_section .header_branch_address p:nth-child(1){
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .01em;
    color: #181E25;
}

.profile_section .header_branch_address p .default_bt{
    background-color: #D7FCDE;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .01em;
    border-radius: 10px;
}

.profile_section .header_branch_address  p:nth-child(2){
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #181E25;
    margin-right: 10px;
    height: 19px;
}

.profile_section .header_branch_address span{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #384656;
}
.profile_section .header_branch_address .dot_icon{
    display: flex;
    justify-content: end;
    align-items: end;
}

/* goa branch address property */

.profile_section .goa_branch_address p:nth-child(1){
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .01em;
    color: #181E25;
}

.profile_section .goa_branch_address .dot_icon{
    display: flex;
    justify-content: end;
    align-items: end;
}

.profile_section .goa_branch_address  p:nth-child(2){
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #181E25;
    margin-right: 10px;
}

.profile_section .goa_branch_address span{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #384656;
}

.profile_section .border {
    border: 1px solid rgb(246, 241, 241) !important ;
}