.tick{
    display: inline-block;
    background-color:#198038;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    position: relative;
}
.tick::after{
    content: '';
    position: absolute;
    top: -30px;
    right: 9.5px;
    width: 3px;
    height: 70%;
    border-left: 1px solid #E7EAF0;
    z-index: -1;
}
.ship_icon{
    height: 30px;
    width: 30px;
    border: 2px solid rgba(255, 206, 206, 0.664);
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 9.50px;
    left: 12.6px
}
.cargo{
    display:inline-block;
    justify-content: center;
    align-items: center;
    background-color:#D32D2F;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    position: relative;
}
.cargo::after{
    content: '';
    position: absolute;
    top: -30px;
    right: 9.5px;
    width: 3px;
    height: 70%;
    border-left: 1px solid #E7EAF0;
    z-index: -1;
}
/* .cargo::before{
    content: '';
    height: 24px;
    width: 24px;
    position: absolute;
    top:-1px;
    right: -2px;
    border-radius:50%;
    border: .001px solid rgba(255, 194, 194, 0.667);
} */