#address_title .css-tlc64q-MuiPaper-root-MuiDialog-paper{
    overflow-y: unset !important;
}

#address_title .css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
     padding: 50px 22px !important;
     padding-bottom: 0px !important;
}
#address_title .css-ypiqx9-MuiDialogContent-root{
    padding: 0px 24px 49px 24px !important;
}