.create_password_modal>p:nth-child(1){
    font-weight: 700;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: .01em;
    margin-bottom: 12px !important;
}
.create_password_modal>p:nth-child(2){
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #384656;
    margin-bottom: 26px !important;
}

/* This is for input label Styling */

.create_password_modal .ant-form-vertical .ant-form-item-label >label{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #67788E;
}

/* .create_password_modal .ant-btn span{
    padding: 10px 22px !important;
} */